<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331365595229-1ukuqai21j47mdia20lt3ihm35igklnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331365595229-1ukuqai21j47mdia20lt3ihm35igklnh</string>
	<key>API_KEY</key>
	<string>AIzaSyDhnxQSAy_qByf0bKbkugxeE66VwEkIuV0</string>
	<key>GCM_SENDER_ID</key>
	<string>331365595229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groubing</string>
	<key>PROJECT_ID</key>
	<string>groubing-68b92</string>
	<key>STORAGE_BUCKET</key>
	<string>groubing-68b92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331365595229:ios:b96019e7fa0a4737e675b4</string>
</dict>
</plist>