<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groubing.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F1405D3F2C8FBA349B9BE29A080EFCDCB5A5BC54</string>
				<key>dateExpires</key>
				<string>2024/07/29</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1405D3F2C8FBA349B9BE29A080EFCDCB5A5BC54</string>
						<key>dateExpires</key>
						<string>2024/07/29</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XQ24HP64B3</string>
						<key>name</key>
						<string>Jinjihan Company</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XQ24HP64B3.com.groubing</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XQ24HP64B3</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>groubing.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5e230332-a3a5-433e-b1d5-beb96c35856b</string>
				<key>dateExpires</key>
				<string>2024/08/05</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.groubing</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XQ24HP64B3</string>
				<key>name</key>
				<string>Jinjihan Company</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
